<h1 style='color: yellow; font-style: italic'> Please sign in: </h1>

<form id='sign_in' method='post' action='/sessions'>
	Email: <input type='text' name='email'>
	Password: <input type='password' name='password'>
	<input type='submit' value='Sign in'>
</form>