<article id="new-peep">
<% if current_user %>
	<form action='/peeps' method='post'>
		Peep: <input type='text' name ='message'>
		<input type='submit' value='Post'>
	</form>
	<% end %>
</article>

		<% @peeps.reverse.each do |peep| %>
			<p> <%= peep.message %> <%= peep.username %> </p>
	<% end %>
