<article id="new-peep">
<% if current_user %>
	<form action='/peeps' method='post'>
		<p>Peep: <input type='text' name ='message'>
		<input type='submit' value='Post'></p>
	</form>
	<% end %>
</article>

		<% @peeps.reverse.each do |peep| %>
			<p id='peeps'> <%= peep.message %></p> <p id='peep_username'><%= peep.user.username %></p>
	<% end %>
